# Build Artifacts
ZeroShadow
src/*.o
*.o
libzeroshadow.so
zeroshadow-sdk-v1.0.0-alpha.zip

# Directories
runtime/
tests/
zeroshadow-sdk/

# VS Code Metadata
.vscode/

# System Files
.DS_Store
*.swp
*.swo
*~

